.body {
  font-family: $font-family-body;
  font-weight: 400;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 500; 
} 

h1, .h1 {
  $h1-font-size: $h1-font-size;
  line-height: $h1-line-height;
  margin-bottom: $h1-margin-bottom;
}

h2, .h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  margin-bottom: $h2-margin-bottom;
}