// Colors
$black: #000000;
$white: #ffffff;
$platinum: #E5E5E5;

// Fonts
$font-family-body: 'Roboto Flex', sans-serif;

$font-body: 16px;
$h1-font-size: rem(32px);
$h2-font-size: rem(24px);

$h1-line-height: rem(48px);
$h2-line-height: rem(32px);

$h1-margin-bottom: rem(25px);
$h2-margin-bottom: rem(20px);