// Colors.
$grey: #898F8F;
$dark-grey: #666666;
$light-grey: #CCCCCC;
$gold: #FFCC00;
$black: #333333;
$white: #ffffff;

// Fonts.
$font-raleway: 'Raleway', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$body-font-size: 14px;