*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    font-size: $font-body;
    line-height: $line-height;
}

.body {
    background-color: $slate_blue;
}