/*--------------------------------------------------------------
  # Utils: REM helper
--------------------------------------------------------------*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.1em;
  color: #323232;
}

h1,
.h1,
.footer__contact .cta__title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.05em;
}

h2,
.h2 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 2.0625rem;
  font-weight: 400;
  line-height: 3.125rem;
  margin-bottom: 1.125rem;
  letter-spacing: 0.05em;
}

h3,
.h3 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.4375rem;
  font-weight: 400;
  line-height: 2.375rem;
  margin-bottom: 1rem;
  letter-spacing: 0.01em;
}

h4,
.h4 {
  font-family: "Lato", sans-serif;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.05em;
}

h5,
.h5 {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6875rem;
  margin-bottom: 1rem;
  letter-spacing: 0.05em;
}

h6,
.h6 {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6875rem;
  margin-bottom: 1rem;
  letter-spacing: 0.01em;
}

.h7 {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6875rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.01em;
}

.h8 {
  font-family: "Lato", sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 0.975rem;
  margin-bottom: 1.0625rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.h9 {
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.245rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.01em;
}

a {
  transition: all 0.2s ease;
}

p {
  line-height: 2rem;
  margin-bottom: 2rem;
}

.header__container {
  margin: 0 auto;
  max-width: 1280px;
}
@media screen and (max-width: 1440px) {
  .header__container {
    max-width: 1170px;
    width: 81.25%;
  }
}
@media screen and (max-width: 768px) {
  .header__container {
    max-width: 700px;
    width: 91.1458333333%;
  }
}
@media screen and (max-width: 320px) {
  .header__container {
    max-width: 300px;
    width: 93.75%;
  }
}

.footer {
  background-color: #F4F4F4;
  padding: 4.375rem 0 1.875rem;
}
.footer__container {
  margin: 0 auto;
  max-width: 1280px;
}
@media screen and (max-width: 1440px) {
  .footer__container {
    max-width: 1170px;
    width: 81.25%;
  }
}
@media screen and (max-width: 768px) {
  .footer__container {
    max-width: 700px;
    width: 91.1458333333%;
  }
}
@media screen and (max-width: 320px) {
  .footer__container {
    max-width: 300px;
    width: 93.75%;
  }
}
.footer__contact {
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  align-items: center;
  margin-bottom: 0.6825rem;
}
@media screen and (max-width: 768px) {
  .footer__contact {
    grid-template-columns: none;
    justify-content: center;
    text-align: center;
  }
}
.footer__contact-cta {
  margin-bottom: 3.20625rem;
}
.footer__contact .cta__title {
  margin-top: 0;
}
.footer__contact .cta__link {
  display: block;
  margin-bottom: 0.919375rem;
}
.footer__contact .cta__link:link, .footer__contact .cta__link:visited {
  color: #7B7B7B;
  text-decoration: none;
}
.footer__contact .cta__link:hover {
  color: #000000;
  text-decoration: none;
}
.footer__contact .cta__link:active {
  color: #000000;
  text-decoration: underline;
}
.footer__contact-some {
  grid-column-start: 3;
}
@media screen and (max-width: 768px) {
  .footer__contact-some {
    margin-bottom: 2.5rem;
    grid-column-start: 1;
  }
}
.footer__contact-some .social-media__list {
  display: flex;
  gap: 1.4375rem;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .footer__contact-some .social-media__list {
    justify-content: center;
  }
}
.footer__contact-some .social-media__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.125rem;
  height: 3.125rem;
  background-color: #F4F4F4;
  border: 0.0625rem solid #565656;
  margin-bottom: -0.21875rem;
}
.footer__contact-some .social-media__link-icon {
  height: 1.5rem;
  width: auto;
  fill: #565656;
}
.footer__contact-some .social-media__link:hover {
  background-color: #565656;
}
.footer__contact-some .social-media__link:hover .social-media__link-icon {
  fill: #ffffff;
}
.footer__copyright {
  text-align: center;
}/*# sourceMappingURL=styles.css.map */