.section {
  margin: 100px 0;
  
  &__container {
    width: 92%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
}

.code {
  background-color: rgb(87, 142, 247, 0.3);
  padding: 0 rem(10px);
  border-radius: rem(5px);
}

.order-list {
  padding-left: 2.2rem;
}