// Screens
$tabletBig: 1025px;
$tablet: 992px;
$tabletMinus1: 991px;
$mobile: 576px;


// Colors
$white: #fff;
$black: #000;
$antiquewhite: #FAEBD7;

$colors: (
  color1: red,
  color2: blue,
  color3: green,
  color4: yellow
);
