*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --font-base: 28px;
  --black: #000;
}

html {
  font-family: 'PT Sans', sans-serif;
  font-size: var(--font-base);
  line-height: 1.7143rem;
  font-weight: 400;
}

body {
  margin: 0; /* Fixing margin issue in Chrome */
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.mark {
  background-color: #DADADA;
}

.block-grid {
  display: grid;
}

.block-grid--gap {
  gap: 30px;
}

.block-grid--template-column-2 {
  grid-template-columns: 32.91% 67.09%;
}

/* Header styles */
.company-header {
  display: grid;
  grid-template-columns: 1fr 12fr 2fr;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.4286rem;
}

.company-header__language {
  font-family: 'Tourney', cursive;
  font-weight: 600;
  font-size: 0.7857rem;
  line-height: 0.6428rem;
  letter-spacing: 6%;
  text-transform: uppercase;
  color: var(--black);
}

.company-header__breadcrumbs {
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 0.7857rem;
  line-height: 1rem;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: var(--black);
}

.company-header__breadcrumbs--spacer {
  padding: 0 0.3571rem;
}

 /* Sidebar styles */
.sidebar__menu {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.sidebar__menu-item {
  font-family: 'Francois One';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2857rem;
  line-height: 1.7142rem;
  letter-spacing: 4%;
  text-transform: uppercase;
  border-bottom: 2px solid #C9C9C9;
  margin-bottom: 2.6785rem;
  padding-bottom: 0.1785rem;
}

.sidebar__menu-link {
  color: #000;
  text-decoration: none;
}

.sidebar__menu-link:visited {
  color: #000;
}

 /* Content area styles */
.company-content {
  /* 60px as the next chapter header creates extra spacing top because of line-height. */
  margin-bottom: calc(2.5rem - 10px);
}

.company-content__header  {
  display: flex;
  flex-direction: row;
}

.company-content__header--title {
  font-family: 'Francois One', sans-serif;
  font-weight: 400;
  font-size: 1.2857rem; 
  line-height: 1.7143rem;
  letter-spacing: 4%;
  text-transform: uppercase;
  color: var(--black);
  margin-right: 0.3571rem;
}

.company-content__header--subtitle {
  font-family: 'Farro', sans-serif;
  font-weight: 300;
  font-size: 0.7143rem; 
  line-height: 2.8rem; /* The sizing in figma was wrong, so I have updated this value to match the visual design. */
  letter-spacing: 4%;
  color: var(--black);
}

.company-content__list {
  list-style: none;
	margin: 0;
	padding-left: 0;
}

.company-content__list-item {
  margin-bottom: 1.4286rem;
}

.company-content__list-item:before {
  content: "+";
  padding-right: 5px;
}