@mixin container {
  margin: 0 auto;

  // XL Desktop size 1440px+
  max-width: 1280px;

  // Desktop size 769-1440px
  @media screen and ( max-width: $desktop ) {
    max-width: 1170px;
    width: calc( 1170px / ( $desktop / 100% ) );
  }

   // Tablet size 320-768px
  @media screen and ( max-width: $tablet ) {
    max-width: 700px;
    width: calc( 700px / ( $tablet / 100% ) );
  }

  // Mobile size 0-320px 
  @media screen and ( max-width: $mobile ) {
    max-width: 300px;
    width: calc( 300px / ( $mobile / 100% ) );
  }
}