.footer {
  background-color: $cultured;
  padding: rem(70px) 0 rem(30px);

  &__container {
    @include container;
  }
  
  &__contact {
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    align-items: center;
    margin-bottom: rem(10.92px);

    & .cta {
      &__title {
        @extend .h1;
        margin-top: 0;
      }

      &__link {
        display: block;
        margin-bottom: rem(14.71px);

        &:link,
        &:visited {
          color: $gray;
          text-decoration: none;
        }

        &:hover {
          color: $black;
          text-decoration: none;
        }

        &:active {
          color: $black;
          text-decoration: underline;
        }
      }
    }

    &-some {
      grid-column-start: 3;

      & .social-media {
        &__list {
          display: flex;
          gap: rem(23px);
          list-style: none;
          padding-left: 0;
          margin: 0;
        }

        &__link {
          display: flex;
          justify-content: center;
          align-items: center;

          width: rem(50px);
          height: rem(50px);
          background-color: $cultured;
          border: rem(1px) solid $davys_gray;

          margin-bottom: rem(-3.5px);

          &-icon {
            height: rem(24px);
            width: auto;
            fill: $davys_gray;
          }

          &:hover {
            background-color: $davys_gray;

            .social-media__link-icon {
              fill: $white;
            }
          }
        }
      }
    }
  }

  &__copyright {
    text-align: center;
  }
}