/**
 * Styling for css and html section.
 */

 .section {
  &-markup {
    @include container;
    padding: rem(50px) 0;

    &__grid {
      @include grid-four-columns;
    }

    & .article {
      @include flex-column-centered;
      min-height: rem(400px);
      padding: rem(15px);
      border-radius: rem(12px);

      background-color: $white;
      color: $charcoal;

      position: relative;
      cursor: pointer;

      &:hover {
        & .article__overlay {
          display: block;
          background-color: $mulberry;
        }
      }

      &__overlay {
        @include overlay;

        &-list {
          width: 100%;
          height: 100%;
          gap: rem(30px);

          @include list-unstyled;
          @include flex-row-centered;
        }

        &-link {
          &:link,
          &:visited,
          &:active,
          &:hover {
            color: $white;
            text-decoration: none;
          }
        }

        &-icon {
          width: 100%;
          height: 100%;
          border-radius: rem(12px);
          @include flex-row-centered;

          &-wrap {
            width: rem(64px);
            height: rem(64px);
            border-radius: rem(12px);
            background-color: $carisma;
            transition: all .3s ease;

            & svg {
              width: 60%;
              height: auto;
              fill: $white;
            }

            &:hover {
              background-color: $white;
  
              & svg {
                fill: $carisma;
              }
            }

            &--disabled {
              background-color: $light-gray;
              cursor: not-allowed;

              & .article__overlay-icon {
                & svg {
                  fill: $gray;
                }
              }

              & + .article__overlay-description {
                opacity: 0.5;
                cursor: not-allowed;
              }

              &:hover {
                background-color: $light-gray;
                cursor: not-allowed;
  
                & .article__overlay-icon {
                  & svg {
                    fill: $gray;
                  }
                }
              }
            }
          }
        }

        &-description {
          color: $white;
          font-size: rem(14px);
          text-align: center;
        }
      }
  
      &__title {
        @extend h4;
        margin-bottom: 0;
      }

      &__image {
        width: 100%;

        &-wrap {
          width: 80%;
        
          @include flex-vertical-center;
          @include flex-horisontal-center;
        }
      }
      
    }
  }
 }