body {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 400;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 500; 
} 

h1, .h1 {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 25px;
}

h2, .h2 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}

main {
  background-color: #E5E5E5;
}

/* Forms styling */
.forms {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.form-wrap {
  flex: calc(50% - 30px) 0 0;
  padding: 0 15px 55px 15px;
}

.form {
  background-color: #fff;
  border-radius: 6px;
  padding: 35px 35px 16px 35px;
}

.form__name {
  display: flex;
}

.form__name label {
  display: block;
}
