*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    font-size: 16px;
    line-height: 20px;
}

.body {
    background-color: $serenade;
}

.main {
    margin: 6.25rem 1.25rem;
}

.list {
    list-style: inside;
    padding-left: 1.25rem;
}

.lesson-title {
    text-align: center;
    margin-bottom: rem(50px);
}