.menu {
  &__list {
      list-style: none;
  }

  &__item {
      display: inline-block;

      & + & {
          margin-left: 42px;
      }
  }

  &__link {
      display: inline-block;
      position: relative;
      
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      color: $black;

      text-decoration: none;

      @media screen and (min-width: $tabletBig) {
          padding-bottom: 5px;

          &:after {
              content: '';
              position: absolute;
              left: 6px;
              right: 10px;
              bottom: 0;
  
              height: 1px;
              background-color: transparent;
              transition: background-color .3s linear;
          }

          &:hover:after {
              background-color: $black;
          }
      }
  }
}