/* Platin MTPro Regular */
@font-face {
  font-family: "PlantinMTPro-Regular";
  src:
    url("../fonts/PlantinMTPro-Regular/font.woff2") format("woff2"),
    url("../fonts/PlantinMTPro-Regular/font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Platin MTPro Italic */
@font-face {
  font-family: "PlantinMTPro-Italic";
  src:
    url("../fonts/PlantinMTPro-Italic/font.woff2") format("woff2"),
    url("../fonts/PlantinMTPro-Italic/font.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

/* Platin MTPro Bold */
@font-face {
  font-family: "PlantinMTPro-Bold";
  src:
    url("../fonts/webFonts/PlantinMTPro-Bold/font.woff2") format("woff2"),
    url("../fonts/webFonts/PlantinMTPro-Bold/font.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
