/**
  * Hero section styles.
  */

.section {
  &__hero {
    &-bg {
      background-image: url('../images/hero.webp'), $gradient-footer;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      min-height: 100vh;
      margin-top: rem(-103px);

      @include media-breakpoint-up(lg) {
        min-height: rem(800px);
        margin-top: rem(-167px);
      }
    }

    &-container {
      @include container;
      position: relative;
    }

    &-content {
      @include flex-center;
      flex-direction: column;
      height: 100vh;
      color: $white;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;

      @include media-breakpoint-up(lg) {
        height: rem(800px); // Q1: I don't want static height here, I want it to be 100% to center the content. What's the best way?
      }
    }

    &-arrow {
      position: absolute;
      bottom: rem(50px);
      left: calc(50% - 20px);
      z-index: 1;
    }
  }
}

.arrow-down {
  &__wrap {
    display: inline-block;
    width: rem(40px);
    height: rem(40px);
    border-radius: 50%;
    border: 1px solid $white;
    cursor: pointer;
    transition: all 0.3s ease;

    & svg {
      height: rem(18px);
      width: 100%;
      fill: $white;
    }
    
    @include media-breakpoint-up(lg) {
      &:hover {
        background-color: $white;
        
        & svg {
          fill: $slate_blue;
        }
      }
    }
  }

  &__link {
    @include flex-center;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
}

.swiper-wrapper {
  max-height: 100vh;

  @include media-breakpoint-up(lg) {
    max-height: rem(800px);
  }
}

.swiper-pagination-bullet {
  width: rem(10px);
  height: rem(10px);
  border-radius: 50%;
  border: rem(1px) solid $white;
  background-color: transparent;
  opacity: 1;

  & + & {
    margin-top: rem(40px)!important;
  }
}

.swiper-pagination-bullet-active {
  background-color: $white;
}