/**
  * Hero section styles.
  */

.section {
  &__hero {
    &-bg {
      background: url('../images/hero.webp'), $gradient-footer;

      min-height: rem(800px);
      margin-top: rem(-167px);
    }

    &-container {
      @include container;
      position: relative;
    }

    &-content {
      @include flex-center;
      flex-direction: column;
      height: rem(800px); // Q1: I don't want static height here, I want it to be 100% to center the content. What's the best way?
      color: $white;
    }

    &-arrow {
      position: absolute;
      bottom: rem(50px);
      left: calc(50% - 20px);
    }
  }
}

.arrow-down {
  &__wrap {
    display: inline-block;
    width: rem(40px);
    height: rem(40px);
    border-radius: 50%;
    border: 1px solid $white;
    cursor: pointer;
    transition: all 0.3s ease;

    & svg {
      height: rem(18px);
      width: 100%;
      fill: $white;
    }
    
    @include media-breakpoint-up(lg) {
      &:hover {
        background-color: $white;
        
        & svg {
          fill: $slate_blue;
        }
      }
    }
  }

  &__link {
    @include flex-center;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
}