/**
  * Posts section styles.
  */

.section {
  &__news {
    &-bg {
      background-image: url('../images/news.webp'), $gradient;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100% auto, cover;

      padding: rem(60px) 0;
      min-height: 100vh;

      @include media-breakpoint-up(lg) {
        padding: rem(120px) 0;
        min-height: rem(800px); // TODO: change this
      }
    }

    &-title {
      @include title($white);
      @include flex-horizontal-center;
  
      text-transform: uppercase;
      color: $white;
      margin-bottom: rem(50px);

      @include media-breakpoint-up(lg) {
        margin-bottom: rem(127px);
      }
    }
    
    &-slider {
      position: relative;
    }
  }
}

.news-teaser {
  background-color: $white;
  width: rem(370px);

  &__image {
    width: 100%;
    height: auto;

    &-wrap {
      width: rem(370px);
    }
  }

  &__content {
    padding: rem(25px) rem(20px) rem(30px);
  }

  &__author {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: rem(20px);

    &-avatar {
      width: rem(60px);

      &-image {
        border-radius: 50%;
      }
    }
  }
}