/**
  * Medium tasks section styles.
  */

.section {
  &-medium {
    margin-bottom: rem(50px);

    &__container {
      @include container;
    }

    &__wrap {
      @include section-wrap;
      background-color: $medium;
    }

    &__task {
      margin-bottom: rem(50px);

      &-text {
        margin-bottom: rem(20px);
      }

      &-button {
        @include button;
        margin-bottom: rem(20px);
      }
      
      &-list {
        @extend .list;
        margin-bottom: rem(20px);
      }

      &-result {
        visibility: hidden;
      }
    }
  }
}