/**
  * A set of classes to switch styles of the whole theme when using the theme switcher checkbox.
  */

// Light theme
.body:has(.theme-switcher) {
  background-color: $white;
  transition: all 0.5s ease;

  & .header {
    &__wrapper {
      background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, 
                                          rgba(255, 255, 255, 0.244636) 24.1%, 
                                          rgba(255, 255, 255, 0) 47.19%), 
                                          rgba(255, 255, 255, 0.02);
    }

    & .nav {
      &__link {
        &:link,
        &:visited,
        &:active {
          color: $yankees_blue;
        }

        &:hover {
          &:after {
            background: $congo_pink;
            opacity: 1;
          }
        }
      }
    }
  }

  & .section-hero {
    background-image: url('../images/hero-light.jpg');

    &__title {
      color: $yankees_blue;

      &--highlighted {
        color: $pewter_blue;
      }
    }

    &__link {
      @include link( $theme-light: true );
    }
  }

  & .footer {
    border-color: $gray;
    color: $yankees_blue;

    &__link {
      &:link,
      &:visited,
      &:active {
        color: $yankees_blue;
      }
    }
  }
}

// Dark theme
.body:has(.theme-switcher:checked) {
  background-color: $mirage;
  transition: all 0.5s ease;

  &  .header {
    &__wrapper {
      background: linear-gradient(270deg, rgba(22, 25, 38, 0.5) 0%, 
                                          rgba(22, 25, 38, 0) 24.1%, 
                                          rgba(22, 25, 38, 0) 47.19%), 
                                          rgba(22, 25, 38, 0.02);
    }

    & .nav {
      &__link {
        &:link,
        &:visited,
        &:active {
          color: $white;
        }

        &:hover {
          &:after {
            background: linear-gradient(96.73deg, #53F3CD 6.73%, rgba(83, 243, 205, 0) 116.9%);
            opacity: 0.3;
          }
        }
      }
    }
  }

  & .section-hero {
    background-image: url('../images/hero-dark.jpg');

    &__title {
      color: $white;

      &--highlighted {
        color: $cornflower_blue;
      }
    }

    &__subtitle {
      color: $white;
    }

    &__link {
      @include link( $theme-dark: true );
    }
  }

  & .footer {
    color: $white;
    border-color: $independence;

    &__link {
      &:link,
      &:visited,
      &:active {
        color: $white;
      }
    }
  }
}