// Screen sizes
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

// Colors: generic
$black: #000000;
$white: #ffffff;
$platinum: #E5E5E5;
$gray: #E4E4E4;

// Colors: light theme
$yankees_blue: #262A3F;
$congo_pink: #F1897B;
$pewter_blue: #85BBB1;
$mirage: #161925;
$carmine_pink: #E54F3A;
$ucla_blue: #586291; 

// Colors: dark theme
$cornflower_blue: #689FF2;
$turquoise: #53F3CD;
$independence: #515773;
$caribbean_green: #02E0AB;

// Fonts
$font-family-headings: 'Playfair Display', serif;
$font-family-body: 'Lato', sans-serif;

$font-body: 18px;
$h1-font-size: rem(44px);
$h2-font-size: rem(40px);
$h3-font-size: rem(32px);
$h4-font-size: rem(24px);
$h5-font-size: rem(20px);
$h6-font-size: rem(16px);
$h7-font-size: rem(14px);

$line-height: rem(26px);
$h1-line-height: rem(52px);
$h2-line-height: rem(48px);
$h3-line-height: rem(46px);
$h4-line-height: rem(48px);
$h5-line-height: rem(20px);
$h6-line-height: rem(26px);
$h7-line-height: rem(26px);