/* Removing default body margin */
body {
  margin: 0;
}

/* Making all anchors scrolling smooth */
html {
  scroll-behavior: smooth;
}

/* Styling spacing in w3 schools code blocks */
.w3-tab {
  margin-left: 15px;
}

.w3-two-tabs {
  margin-left: 30px;
}