.header {
  display: flex;
  justify-content: space-between;
  background-color: #1F1F1F; 
  color: #F2F2F2;
  padding: 40px 30px;
}

.logo img {
  width: 48px;
  height: auto;
}

.header__menu ul {
  list-style: none;
	margin-left: 0;
	padding-left: 0;
  display: flex;
}

.header__menu-item a {
  padding: 0 10px;
  font-size: 18px;
}

.header__menu-item a:link, a:visited {
  color: #F2F2F2;
  text-decoration: none;
}

.header__menu-item a:hover {
  color: #99CEC8;
}