/**
  * Medium tasks section styles.
  */

.section {
  &-medium {
    margin-bottom: rem(50px);

    &__container {
      @include container;
    }

    &__wrap {
      @include section-wrap;
      background-color: $cream-can;
    }

    &__task {
      margin-bottom: rem(50px);

      &-text {
        margin-bottom: rem(20px);
      }

      &-button {
        @include button;
      }
      
      &-list {
        @extend .list;
  
        &-code {
          background-color: $cornflower-blue;
          padding: 0 rem(10px);
          border-radius: rem(5px);
        }
      }
    }
  }
}