/**
  * Quotation section styles.
  */

.section {
  &-contact {
    margin-bottom: rem(100px);
    
    &__container {
      @include container;
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(230px);
    }

  }
}