/**
  * Quotation section styles.
  */

.section {
  &-contact {
    margin-bottom: rem(100px);
    
    &__container {
      @include container;
    }

    &__grid {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      gap: rem(50px);

      @include media-breakpoint-up(md) {
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(230px);
      }

      padding-top: rem(60px);
      border-top: rem(1px) solid;
    }

    &__info {
      padding-top: rem(20px);
    }

    & .form {
      &__item {
        display: block;
        width: 100%;

        font-family: $font-family-headings;
        font-style: italic;
        font-size: rem(18px);
        line-height: $h5-line-height;
        font-weight: 400;
        letter-spacing: 0.08em;

        border: none;
        border-bottom: rem(1px) solid;
        padding: rem(12px) 0;
        margin-bottom: rem(28px);
        
        background-color: rgba(255, 255, 255, 0);

        &:last-of-type {
          margin-bottom: rem(40px);
        }

        &::placeholder {
          font-family: $font-family-headings;
          font-style: italic;
          font-size: rem(18px);
          line-height: $h5-line-height;
          font-weight: 400;
          letter-spacing: 0.08em;
          opacity: 0.5;
        }
      }
    }

  }
}