/**
  * Media section styles.
  */

.section {
  &-media {
    margin-bottom: rem(120px);
    
    &__container {
      @include container;
    }

    & .video {
      &__tablet {
        position: relative;
        padding: rem(31px) rem(70px) rem(31px) rem(30px);
        border: rem(1px) solid;
        border-radius: rem(32px);
        margin-bottom: rem(50px);

        &-camera {
          position: absolute;
          top: calc(50% - (13px/2));
          left: rem(8px);

          border: rem(1px) solid;
          border-radius: rem(32px);
          width: rem(13px);
          height: rem(13px);
        }

        &-controller {
          position: absolute;
          top: calc(50% - (35px/2));
          right: rem(14px);

          border: rem(1px) solid black;
          border-radius: rem(32px);
          width: rem(35px);
          height: rem(35px);
        }
      }

      &__button {
        width: rem(60px);
        height: rem(60px);

        @include media-breakpoint-up(md) {
          width: rem(120px);
          height: rem(120px);
        }
      }


      &__wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        cursor: pointer;
      }
    }

    & .description {
      &__content {
        max-width: rem(897px);
      }
    }
  }
}