*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --base-font: 16px;
  --base-color: #16133D;
}

html {
  font-family: 'PT Sans', sans-serif;
  font-size: var(--base-font);
  line-height: 1.75rem; /* 28px */
  font-weight: 400;
  color: var(--base-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; 
} 

h1, .h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.5rem; /* 40px */
  line-height: 130%;
  letter-spacing: 2%;
}

body {
  margin: 0; /* Fixing margin issue in Chrome */
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

/* Header styles */
.header {
  background-color: #fff;
  border-bottom: 1px solid #EFEEF3;
  padding: 1.375rem 0; /* 22px */
}

.header__logo {
  width: 12.5rem; /* 200px */
  height: 2.1875rem; /* 35px */
}


/* Footer styles */
.footer {
  background-color: var(--base-color);
  padding: 2.5rem 0; /* 40px */
}

.footer__logo {
  margin-bottom: 2.5rem; /* 40px */
}

.footer__logo svg {
  width: 12.5rem; /* 200px */
  height: 2.1875rem; /* 35px */
}

.footer__social-media {
  display: flex;
  gap: 10px;
}

.footer__social-media-item svg {
  width: 2.375rem; /* 38px */
  height: 2.375rem; /* 38px */
  fill: #0D0D0D;
  transition: all .2s ease-out; 
}

.footer__social-media-link:hover svg {
  fill: #3DB370;
}