/**
  * Footer styling.
  */

  .footer {
    position: relative;
    background: url('../images/footer.webp'), $gradient-footer;
    padding: rem(203px) rem(15px) rem(50px);
    
    @include media-breakpoint-up(lg) {
      padding: rem(203px) rem(415px) rem(234px);
    }
    
    &__content {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: rem(41px);

      @include media-breakpoint-up(lg) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      &-logo {
        margin-bottom: rem(40px);
        
        @include media-breakpoint-up(lg) {
          margin-bottom: unset;
        }

        & svg {
          width: rem(214px);
          height: rem(54px); 
        }
      }
    }

    &__credits {
      text-align: center;
      color: $white;

      @include media-breakpoint-up(lg) {
        text-align: left;
      }
    }
  }