/**
 * Header styling.
 */

  .header {
    position: relative;
    width: 100%;
    padding: rem(52px) 0;
    
    &__wrapper {
      @include flex-vertical-center;
      justify-content: space-between;
    }

    &__container {
      @include container;
    }

    &__block {
      @include flex-vertical-center;
      justify-content: space-between;
    }

    &__burger {
      @include flex-vertical-center;

      position: relative;
      width: 34px;
      height: 20px;

      background-color: transparent;
      border-top: 2px solid $black;
      border-bottom: 2px solid $black;

      @include media-breakpoint-up(md) {
        display: none;
      }

      &:before,
      &:after {
          content: '';
          display: block;

          position: absolute;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $black;
          transition: all .3s linear;
      }

      &:after {
          opacity: 0;
      }
    }

    &__burger-input {
      display: none;

      &:checked {
        & ~ .header__burger-label {
            .header__burger {
                border-color: transparent;

                &:before {
                    transform: rotate(45deg);
                }

                &:after {
                    opacity: 1;
                    transform: rotate(-45deg);
                }
            }
        }

        & + .header__menu {
            transform: translateX(0);
        }
      }
    }

    &__burger-label {
        margin-left: 30px;
        padding: 10px 0 10px 10px;
    }

    &__nav {
      @include flex-vertical-center;
      margin-right: rem(50px);
    }

    & .nav {
      &__list {
        display: flex;
        list-style: none;
        padding-left: 0;
        gap: rem(30px);
      }

      &__item {
        font-size: $font-body;
        font-weight: 400;
        line-height: rem(24px);
        letter-spacing: 0.08em;
      }

      &__link {
        &:link,
        &:visited,
        &:active {
          text-decoration: none;
        }

        &:after {
          content: '';
          display: block;
          height: rem(3px);
          opacity: 0;
          transition: opacity .5s ease;
        }
      }
    }
  }

  .social-media {
    &__list {
      list-style: none;
    }
  
    &__item {
      display: inline-block;
      width: rem(40px);
      height: rem(40px);
      border-radius: 50%;
      border: 1px solid $white;
      transition: all 0.3s ease;
  
      & + & {
        margin-left: rem(20px);
      }

      & svg {
        height: rem(18px);
        width: 100%;
        fill: $white;
      }
  
      &:hover {
        background-color: $white;
        
        & svg {
          fill:  $slate_blue;
        }
      }
    }
  
    &__link {
      @include flex-center;
      width: 100%;
      height: 100%;
      text-decoration: none;
    }
  }