.section {
  &__container {
    @include container;
  }

  &__wrap {
    position: relative;
    width: 100%;
    padding: rem(154px) rem(200px);

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $overlay;
      z-index: -2;
    }

    & .game-info {
      &__wrap {
        display: grid;
        grid-template-columns: rem(160px) 1fr;
        gap: rem(41px);
        padding: rem(60px) rem(40px);
        background-color: $deep-blue;

        & .first-column {
          &__image {
            width: 100%;
            margin-bottom: rem(25px);
          }

          &__stars {
            display: flex;
            width: 100%;
            justify-content: space-around;
          }

          &__star {
            width: rem(20px);
            height: rem(20px);
            fill: $grey;

            &--gold {
              fill: $yellow;
            }
          }
        }

        & .second-column {
          &__heading {
            display: grid;
            grid-template-columns: 3fr 1fr;

            &-title {
              color: $white;
            }
          }

          &__description {
            max-width: 79.2%;
            color: $light-grey;
            margin-bottom: rem(50px);
          }

          &__cta {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            &-price {
              &-discount {
                @extend h5;
                color: $yellow;
                margin-bottom: rem(4px);
              }

              &-total {
                @extend h1;
                color: $white;
              }
            }

            &-button {
              &-link {
                @include button;
              }
            }
          }
        }
      }
    }
  }
}